<h1 class="page-title">Gestion des Employes</h1>
<div class="buttons">
<a routerLink="/employee/new">Add new Employee</a>

  <button></button>
</div>

<app-employeelist
  [employees]="employees"
  (details)="showDetails($event)"
  (delete)="onDelete($event)"
  (edit)="onEdit($event)"

/>
@if (currentEmployee) {
  <app-employee [employee]="currentEmployee" />
}
<!--[employees]="employees"-->
<!--➡️ C’est un @Input()-->

<!--Le composant parent envoie des données vers l’enfant-->
<!--Ici, tu passes la liste employees au composant enfant-->

<!--@if (currentEmployee)-->
<!--C’est une directive de contrôle moderne-->
<!--Elle remplace le classique *ngIf-->
<!--Elle vérifie si currentEmployee existe (≠ null / undefined)-->

<!--<app-employee [employee]="currentEmployee" />-->
<!--Tu passes currentEmployee au composant enfant via un @Input()-->
